In [1]:
# The code was removed by Watson Studio for sharing.

This notebook continues with the scraped data from part 1. I'll start by importing the libraries and reading in the scraped data which I saved to a csv file in my project environment.

In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
#Load the processed scraped data from the previous section of the lab
toronto_df = pd.read_csv(project.get_file('processed_toronto_neigh.csv'))
toronto_df.head(10)

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Harbourfront, Regent Park
3        M6A        North York  Lawrence Heights, Lawrence Manor
4        M7A      Queen's Park                      Queen's Park
5        M9A         Etobicoke                  Islington Avenue
6        M1B       Scarborough                    Rouge, Malvern
7        M3B        North York                   Don Mills North
8        M4B         East York   Woodbine Gardens, Parkview Hill
9        M5B  Downtown Toronto          Ryerson, Garden District

Now I'll read in the provided Latitude/Longitude csv as a new dataframe and preview it.

In [4]:
toronto_latlng_df = pd.read_csv('https://cocl.us/Geospatial_data')
toronto_latlng_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

I'll want to join this dataframe with the original dataframe, and the column that they share in common is the Postal Code. However, the column name is 'PostalCode' in one dataframe, but 'Postal Code' in the other, so for consistency I will rename it in the latter to remove the space.

In [8]:
#Set the Postal Code column name to match the column name in the original dataframe, to make the join easier
toronto_latlng_df.columns = ['PostalCode', 'Latitude', 'Longitude']
toronto_latlng_df.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

Finally I will merge the two dataframes into one, using the PostalCode column as the join key. I will do a left join to ensure that all the rows of the original table will still be present.

In [10]:
#Combine the two dataframes with a Left Join:
merged_df = toronto_df.merge(toronto_latlng_df, on='PostalCode', how='left')
merged_df.head(10)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
7,M3B,North York,Don Mills North,43.745906,-79.352188
8,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
9,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937

In [12]:
#Save this dataframe to work with in the Part 3 notebook, in which I will explore and cluster the data.
project.save_data(data=merged_df.to_csv(index=False),file_name='toronto_latlong.csv',overwrite=True)

{'asset_id': 'acab8e9b-e4ad-435f-93e0-8435edbeedd2',
 'bucket_name': 'machinelearningfinalproject-donotdelete-pr-2woc1o3vy08wzt',
 'file_name': 'toronto_latlong.csv',
 'message': 'File saved to project storage.'}